:root{
  -color-background:#242323;
  -my-font:"inter";
}

body {
  font-family:var(--my-font);
  background-color:
  var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mycard{
  margin: 50xp 50xp 50xp 50xp;
  width: 600xp;
  background-color: aliceblue;
  min-height: 866xp;
  border-radius: 20xp;
  box-shadow: 0 0 30px white;
  padding: 0 1.5rem;
  border: 2px solid black;
}

.image-name-containerp h2 {
  text-transform: uppercase;
  margin: 0;
  margin-top: 5px;
  font-weight: 500;
  white-space: nowrap;
  font-size: clamp(0.7rem, 1vw, 3rem);
}

h1,
h2,
h3,
h4,
h5,
h6, {
font-weight: 700;
}

img{
 width: 200px;
 border-radius: 50%;
 border:2px solid #000;
  box-shadow: 0 0 10px 2px #000;
}

.m-left {
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: #242323;
  font-weight: 600;
  transition: all 0.5 ease;
}

a:hover {
  color: #7988fd;
}

.content-container {
  border-botton: 1px solid black;
}

.footer-container {
  display: flex;
  justify-container: center;
  align-items: center;
}

.footer-container p {
  font-weight: 600;
  font-size: 14px;
  padding: 1rem 0;
  color:rgb (140, 146, 150);
}
